<!-- Dummy iFrame to stop redirecting to a new page -->
<iframe name="dummyFrame" id="dummyFrame" style="display: none;"></iframe>

<section id="contactSect" class="w-full max-w-xl bg-white rounded-2xl p-8">
    <form name="contact" target="dummyFrame" method="POST" data-netlify="true" onsubmit="return validateContact()">
        <div class="flex w-full justify-between">
            <input type="text" id="firstName" name="firstName" class="border-2 border-rose-500 w-52">
            <input type="text" id="lastName" name="lastName" class="border-2 border-rose-500 w-52">
        </div>
    </form>
</section>

<!-- <section id="contactSect"> -->
    <!-- <form name='contact' target="dummyFrame" method='POST' data-netlify="true" onsubmit="return validateContact()"> -->
        <!-- Name -->
        <!-- <label for="name">Name<span class="errNotif" id="nameLbl"></span></label> -->
        <!-- <input type="text" id="name" name="name"> -->
        <!-- Email -->
        <!-- <label for="email">Email Address<span class="errNotif" id="emailLbl"></span></label> -->
        <!-- <input type="text" id="email" name="email"> -->
        <!-- Message -->
        <!-- <label for="messageBox">Your Message<span class="errNotif" id="msgLbl"></span></label> -->
        <!-- <textarea id="messageBox" name="messageBox" rows="8"></textarea> -->
        <!-- Submit Button -->
        <!-- <input class="buttonMain" type="submit" id="submitBtn" value="Send Message"> -->
        <!-- <div id="validMessage"></div> -->
    <!-- </form> -->
<!-- </section> -->