<!-- Dummy iFrame to stop redirecting to a new page -->
<iframe name="dummyFrame" id="dummyFrame" style="display: none;"></iframe>

<form name="contact" target="dummyFrame" method="POST" data-netlify="true" onsubmit="return validateContact()" class="bg-white rounded-2xl p-10 shadow-sm shadow-rose-500">
    <div class="grid grid-cols-1 gap-8 sm:grid-cols-2">
        <input type="text" id="firstName" name="firstName" placeholder="First Name" class="border-[0.1875rem] outline-none border-gray-400 focus:border-rose-500 p-4 rounded-lg">
        <input type="text" id="lastName" name="lastName" placeholder="Last Name" class="border-[0.1875rem] outline-none border-gray-400 focus:border-rose-500 p-4 rounded-lg">
        <input type="text" id="email" name="email" placeholder="Email Address" class="border-[0.1875rem] outline-none border-gray-400 focus:border-rose-500 p-4 rounded-lg sm:col-span-2">
        <textarea rows="8" placeholder="Enter your message" class="resize-y border-[0.1875rem] outline-none border-gray-400 focus:border-rose-500 rounded-lg p-4 sm:col-span-2"></textarea>
        <button type="submit" class="p-4 rounded-lg border-[0.1875rem] outline-none border-rose-500 bg-rose-500 sm:col-span-2">Send Message</button>
    </div>
</form>


<!-- <section id="contactSect" class="bg-white rounded-2xl p-12">
    <form name="contact" target="dummyFrame" method="POST" data-netlify="true" onsubmit="return validateContact()">
        <div class="flex flex-col flex-wrap sm:flex-row sm:justify-between">
            <input type="text" id="firstName" name="firstName" class="border-2 border-rose-500 py-2 px-4 mb-8 w-full sm:w-1/2 sm:mr">
            <input type="text" id="lastName" name="lastName" class="border-2 border-rose-500 py-2 px-4 mb-8 w-full sm:w-1/2">
            <input type="text" id="email" name="email" class="border-2 border-rose-500 py-2 px-4 mb-8 w-full">
        </div>
    </form>
</section> -->

<!-- <section id="contactSect"> -->
    <!-- <form name='contact' target="dummyFrame" method='POST' data-netlify="true" onsubmit="return validateContact()"> -->
        <!-- Name -->
        <!-- <label for="name">Name<span class="errNotif" id="nameLbl"></span></label> -->
        <!-- <input type="text" id="name" name="name"> -->
        <!-- Email -->
        <!-- <label for="email">Email Address<span class="errNotif" id="emailLbl"></span></label> -->
        <!-- <input type="text" id="email" name="email"> -->
        <!-- Message -->
        <!-- <label for="messageBox">Your Message<span class="errNotif" id="msgLbl"></span></label> -->
        <!-- <textarea id="messageBox" name="messageBox" rows="8"></textarea> -->
        <!-- Submit Button -->
        <!-- <input class="buttonMain" type="submit" id="submitBtn" value="Send Message"> -->
        <!-- <div id="validMessage"></div> -->
    <!-- </form> -->
<!-- </section> -->