{{ $heroImage := resources.Get "img/hero.jpg" }}

{{ with $heroImage }}
<header style="background-image: url({{ .RelPermalink }});" class="flex items-center bg-cover bg-bottom w-full h-[85vh]">
    <div class="relative w-full p-8 bg-black/50 z-10">
        <div class=" w-7/12 max-w-60 m-auto font-bold text-4xl text-center z-20 block sm:hidden">
            {{- partial "logoVert.html" . -}}
        </div>
        <div class="w-9/12 max-w-lg m-auto font-bold text-7xl text-center z-20 hidden sm:block">
            {{- partial "logoHori.html" . -}}
        </div>
    </div>
</header>
{{ end }}