{{ if .IsHome }}
    <header style="background-image: url('/img/hero.jpg');" class="flex items-center bg-cover bg-top w-full h-[85vh]">
        <div class="w-full p-8 bg-black/50 z-10">
            <div class=" w-7/12 max-w-48 m-auto font-bold text-4xl text-center z-20 block sm:hidden">
                <img src="/img/logoVert.svg" class="w-full">
            </div>
            <div class="w-9/12 max-w-lg m-auto font-bold text-7xl text-center z-20 hidden sm:block">
                <img src="/img/logoHori.svg" class="w-full">
            </div>
            <h2 class="text-white text-center mt-8 text-lg sm:mt-16 sm:text-2xl">Sarnia's best in home grown eggs and produce</h2>
        </div>
    </header>
{{ else }}
    <header style="background-image: url('/img/hero.jpg');" class="flex items-center bg-cover bg-top w-full h-52 sm:h-80">
        <div class="flex items-end w-full h-full bg-black/50 z-10">
            <div class="w-5/6 max-w-80 mx-auto mb-8 font-bold text-center z-20 block sm:max-w-lg">
                <img src="/img/logoHori.svg" class="w-full">
            </div>
        </div>
    </header>
{{ end }}