{{ $heroImage := resources.Get "img/hero.jpg" }}
{{ $logoImageVert := resources.Get "img/logoVert.svg" }}
{{ $logoImageHori := resources.Get "img/logoHori.svg" }}

{{ with $heroImage }}
<header style="background-image: url({{ .RelPermalink }});" class="flex items-center bg-cover bg-bottom w-full h-[85vh]">
    <div class="relative w-full p-8 bg-black/50 z-10">
        <div class=" w-7/12 max-w-60 m-auto font-bold text-4xl text-center z-20 block sm:hidden">
            {{ with $logoImageVert }}
            <img src="{{ .RelPermalink }}" class="w-full">
            {{ end }}
        </div>
        <div class="w-9/12 max-w-lg m-auto font-bold text-7xl text-center z-20 hidden sm:block">
            {{ with $logoImageHori }}
            <img src="{{ .RelPermalink }}" class="w-full">
            {{ end }}
        </div>
        <h2>Sarnia's best in home grown eggs and produce</h2>
    </div>
</header>
{{ end }}