{{ $currPage := trim .RelPermalink "/" }}
{{ $logoImageHori := resources.Get "img/logoHori.svg" }}

<nav>
    {{/*  Mobile nav  */}}
    <div id="nav_btn" class="bg-pink-500 w-16 h-16 flex flex-col justify-around items-center rounded-full p-3 fixed right-2 top-2 z-50 sm:hidden">
        <div class="bg-white h-1 w-full"></div>
        <div class="bg-white h-1 w-full"></div>
        <div class="bg-white h-1 w-full"></div>
    </div>

    <div id="mobileNav" class="fixed top-0 left-0 -translate-x-full w-full h-full bg-header text-white z-40 transition lg:hidden">
        {{ with $logoImageHori }}
            <img src="{{ .RelPermalink }}" class="w-1/2 mx-auto mt-2">
        {{ end }}
        <ul class="absolute w-full h-fit text-center text-2xl m-auto left-0 right-0 top-0 bottom-0">
            {{ range site.Menus.main }}
            <li class="">
                <a href="{{ .URL }}" class='{{ if eq (trim .URL "/") (trim $.Page.RelPermalink "/") }}text-highlight{{ end }} py-4 font-bold block'>{{ .Name }}</a>
            </li>
            {{ end }}
        </ul>
    </div>

    {{/* Desktop Nav */}}
    <div id="desktopNav" class="hidden bg-header p-5 sm:block">
        <ul class="flex justify-between text-xl font-bold text-white w-full max-w-2xl mx-auto px-4">
            {{ range site.Menus.main }}
            <li><a href="{{ .URL }}" class='{{ if eq (trim .URL "/") (trim $.Page.RelPermalink "/") }}text-highlight{{ end }}'>{{ .Name }}</a></li>
            {{ end }}
        </ul>
    </div>
</nav>