<nav>
    {{/*  Mobile nav  */}}
    <div id="nav_btn" class="bg-pink-500 w-16 h-16 flex flex-col justify-around items-center rounded-full p-3 fixed right-2 top-2 z-50">
        <div class="bg-white h-1 w-full"></div>
        <div class="bg-white h-1 w-full"></div>
        <div class="bg-white h-1 w-full"></div>
    </div>

    <div id="mobileNav" class="fixed top-0 left-0 -translate-x-full w-full h-full bg-white rounded-b-[20px] z-40 transition">
        <h2 class="py-4 h-20 text-center">Sable's<br> Market</h2>
        <ul class="absolute w-full h-fit m-auto left-0 right-0 top-0 bottom-0">
            {{ range site.Menus.main }}
            <li class="text-black text-2xl p-5 text-center"><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
        </ul>
    </div>
</nav>